.red{
    background-color: red;
    width: 600px;
    height: 600px;
    
}

.blue{
    background-color: blue;
    width: 50%;
    height: 50%;
    transition:transform 1s;
}

.red:hover .blue{
    transform: translate(100%);
    background-color: green;
}